# Local Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf

# General
.DS_Store
*.log
.env

# IDEs
.idea/
.vscode/
